malotedigital-ws-jee/src/main/resources/maloteDigitalWS.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.malotedigital.cnj.jus.br/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="maloteDigitalWS" targetNamespace="http://ws.malotedigital.cnj.jus.br/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://ws.malotedigital.cnj.jus.br/"
			elementFormDefault="unqualified" targetNamespace="http://ws.malotedigital.cnj.jus.br/"
			version="1.0">
			<xs:import namespace="http://www.w3.org/2005/05/xmlmime" />
			<xs:element name="salvar" type="tns:salvar" />
			<xs:element name="salvarResponse" type="tns:salvarResponse" />
			<xs:complexType name="salvar">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string" />
					<xs:element minOccurs="0" name="contentType" type="xs:string" />
					<xs:element minOccurs="0" name="conteudo" type="xs:base64Binary"
						xmime:expectedContentTypes="application/octet-stream" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="salvarResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="tns:resposta" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="resposta">
				<xs:sequence>
					<xs:element minOccurs="0" name="mensagem" type="xs:string" />
					<xs:element name="sucesso" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="salvarResponse">
		<wsdl:part element="tns:salvarResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="salvar">
		<wsdl:part element="tns:salvar" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MaloteDigitalWS">
		<wsdl:operation name="salvar">
			<wsdl:input message="tns:salvar" name="salvar"></wsdl:input>
			<wsdl:output message="tns:salvarResponse" name="salvarResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="maloteDigitalWSSoapBinding" type="tns:MaloteDigitalWS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="salvar">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="salvar">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="salvarResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="maloteDigitalWS">
		<wsdl:port binding="tns:maloteDigitalWSSoapBinding" name="maloteDigitalWSPort">
			<soap:address
				location="http://localhost:8080/malotedigital-ws/maloteDigitalWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>